<a href="https://colab.research.google.com/github/akhiluthappa1/advice-gen/blob/master/Akhil_Uthappa_Bakery_Assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("./BreadBasket_DMS_output.csv",sep=",")
df.head(10)

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38
2,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38
3,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58
4,2016,10,30,Sunday,morning,10,7,57,3,Jam,10.08
5,2016,10,30,Sunday,morning,10,7,57,3,Cookies,7.35
6,2016,10,30,Sunday,morning,10,8,41,4,Muffin,3.01
7,2016,10,30,Sunday,morning,10,13,3,5,Coffee,9.07
8,2016,10,30,Sunday,morning,10,13,3,5,Pastry,2.91
9,2016,10,30,Sunday,morning,10,13,3,5,Bread,3.01

### Q1.a) what is the busiest (in terms of number of transactions)? - hour wise

In [2]:
df['Transaction_diff'] = df['Transaction'].diff(periods=1)
df.head(10)

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price,Transaction_diff
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01,NaN
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,1.0
2,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,0.0
3,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58,1.0
4,2016,10,30,Sunday,morning,10,7,57,3,Jam,10.08,0.0
5,2016,10,30,Sunday,morning,10,7,57,3,Cookies,7.35,0.0
6,2016,10,30,Sunday,morning,10,8,41,4,Muffin,3.01,1.0
7,2016,10,30,Sunday,morning,10,13,3,5,Coffee,9.07,1.0
8,2016,10,30,Sunday,morning,10,13,3,5,Pastry,2.91,0.0
9,2016,10,30,Sunday,morning,10,13,3,5,Bread,3.01,0.0

In [3]:
df['Transaction_diff'] = df['Transaction_diff'].fillna(1)
df.head(10)

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price,Transaction_diff
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01,1.0
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,1.0
2,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,0.0
3,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58,1.0
4,2016,10,30,Sunday,morning,10,7,57,3,Jam,10.08,0.0
5,2016,10,30,Sunday,morning,10,7,57,3,Cookies,7.35,0.0
6,2016,10,30,Sunday,morning,10,8,41,4,Muffin,3.01,1.0
7,2016,10,30,Sunday,morning,10,13,3,5,Coffee,9.07,1.0
8,2016,10,30,Sunday,morning,10,13,3,5,Pastry,2.91,0.0
9,2016,10,30,Sunday,morning,10,13,3,5,Bread,3.01,0.0

In [4]:
df.Transaction_diff.sum()

9684.0

In [5]:
df_1 = df.pivot_table(values='Transaction_diff', index = 'Hour', aggfunc= 'sum')
df_1

      Transaction_diff
Hour
1                  1.0
7                 19.0
8                392.0
9               1020.0
10              1277.0
11              1466.0
12              1362.0
13              1185.0
14              1147.0
15               936.0
16               595.0
17               165.0
18                54.0
19                34.0
20                15.0
21                 2.0
22                10.0
23                 4.0

In [6]:
max_hour = df_1.sort_values(by='Transaction_diff', ascending=False)
max_hour.head(1)
# 11th hour has the most number of transactions

      Transaction_diff
Hour
11              1466.0

### Q1.b) what is the busiest (in terms of number of transactions)? - day of the week|

In [7]:
df_2 = df.pivot_table(values='Transaction_diff', index = 'Weekday', aggfunc= 'sum')
df_2

           Transaction_diff
Weekday
Friday               1518.0
Monday               1147.0
Saturday             2098.0
Sunday               1283.0
Thursday             1274.0
Tuesday              1230.0
Wednesday            1134.0

In [8]:
max_day = df_2.sort_values(by='Transaction_diff', ascending=False)
max_day.head(1)

          Transaction_diff
Weekday
Saturday            2098.0

### Q1.c) what is the busiest (in terms of number of transactions)? - period

In [9]:
df_3 = df.pivot_table(values='Transaction_diff', index = 'Period', aggfunc= 'sum')
df_3

           Transaction_diff
Period
afternoon            5390.0
evening               119.0
morning              4174.0
night                   1.0

In [10]:
max_period = df_3.sort_values(by='Transaction_diff', ascending=False)
max_period.head(1)

           Transaction_diff
Period
afternoon            5390.0

### Q2-a. What is the most profitable time (in terms of revenue)? - hour

In [11]:
df_4 = df.pivot_table(values='Item_Price', index = 'Hour', aggfunc= 'sum')
df_4

      Item_Price
Hour
1           3.01
7         196.76
8        4175.79
9       13092.38
10      18068.59
11      21453.44
12      19680.60
13      18097.61
14      17847.87
15      14233.34
16       9033.04
17       2407.51
18        453.23
19        300.64
20        149.42
21         22.17
22         35.70
23         11.45

In [12]:
max_hour_2 = df_4.sort_values(by='Item_Price', ascending=False)
max_hour_2.head(1)

      Item_Price
Hour
11      21453.44

### Q2-b. What is the most profitable time (in terms of revenue)? - day of the week

In [13]:
df_5 = df.pivot_table(values='Item_Price', index = 'Weekday', aggfunc= 'sum')
df_5

           Item_Price
Weekday
Friday       21200.60
Monday       15635.24
Saturday     31531.83
Sunday       21495.75
Thursday     17314.29
Tuesday      16331.23
Wednesday    15753.61

In [14]:
max_day_1 = df_5.sort_values(by='Item_Price', ascending=False)
max_day_1.head(1)

          Item_Price
Weekday
Saturday    31531.83

### Q2-c. What is the most profitable time (in terms of revenue)? - period

In [15]:
df_6 = df.pivot_table(values='Item_Price', index = 'Period', aggfunc= 'sum')
df_6.reset_index()

      Period  Item_Price
0  afternoon    81299.97
1    evening      972.61
2    morning    56986.96
3      night        3.01

In [16]:
max_period_1 = df_6.sort_values(by='Item_Price', ascending=False)
max_period_1.head(1)

           Item_Price
Period
afternoon    81299.97

### Q3. what is the most and least popular item?

In [17]:
df_7 = df.pivot_table(values='Item_Price', index = 'Item', aggfunc= 'count')
df_7.head()

                          Item_Price
Item
Adjustment                         1
Afternoon with the baker          44
Alfajores                        369
Argentina Night                    7
Art Tray                          38

In [18]:
popular = df_7.sort_values(by='Item_Price', ascending=False)
popular.head(1) #most popular

        Item_Price
Item
Coffee        5471

In [19]:
popular.tail(8) #least popular

                Item_Price
Item
Bacon                    1
Polenta                  1
The BART                 1
Chicken sand             1
Gift voucher             1
Olum & polenta           1
Raw bars                 1
Adjustment               1

###Q4. Assume one barrista can handle 50 transactions per day. How many barristas do you need for each day of the week?

In [20]:
#df_2[required_baristas] = df_2[Transaction_diff]/50
df_2.reset_index()
df_2['Needed Baristas'] = df_2.div(50)
df_2

           Transaction_diff  Needed Baristas
Weekday
Friday               1518.0            30.36
Monday               1147.0            22.94
Saturday             2098.0            41.96
Sunday               1283.0            25.66
Thursday             1274.0            25.48
Tuesday              1230.0            24.60
Wednesday            1134.0            22.68

### Q5. Divide all items in 3 groups (drinks, food, unknown). What is the average price of a drink and a food item?

In [22]:
three_groups_dict = {
"food": ["Bread", "Scandinavian", "Jam", "Cookies", "Muffin", "Pastry", "Tartine", "Farm House", "Fudge", "Ella's Kitchen Pouches",
         "Victorian Sponge", "Frittata", 'Hearty & Seasonal', 'Pick and Mix Bowls', 'Cake', 'Mighty Protein', 'Chicken sand',
         'Focaccia', 'Sandwich', 'Alfajores', 'Eggs','Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
         'Bowl Nic Pitt', 'Bread Pudding','Truffles','Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
         'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta','Polenta','Bakewell','Lemon and coconut',
         'Toast', 'Scone', 'Crepes', 'Vegan mincepie', 'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
         'Panatone', 'Brioche and salami', 'Afternoon with the baker','Salad', 'Chicken Stew', 'Spanish Brunch',
         'Raspberry shortbread sandwich', 'Extra Salami or Feta','Duck egg', 'Baguette', 'Vegan Feast','Chocolates',
         'Half slice Monster ','Raw bars','Tacos/Fajita'],
"drinks": ["Hot chocolate", "Coffee", "Medialuna", 'Tea', 'Mineral water', 'Juice', 'Soup', 'Smoothies','Coke', 'My-5 Fruit Shoot',
           'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray', 'The Nomad', 'Hack the stack', 'Coffee granules ',
           'Cherry me Dried fruit','Mortimer'],
"unknown":["NONE", "Basket", 'Adjustment',"Valentine's card", 'Tshirt','Postcard', 'Nomad bag','Drinking chocolate spoons ',
            'Christmas common', 'Argentina Night','Gift voucher']
}

### Q5/6 Does this coffee shop make more money from selling drinks or from selling food?

In [23]:
f_counter = 0
f_sum = 0
d_counter = 0
d_sum = 0

for i, row in df.iterrows():
    if row["Item"] in three_groups_dict["food"]:
        f_counter += 1
        f_sum += row["Item_Price"]
    elif row["Item"] in three_groups_dict["drinks"]:
        d_counter += 1
        d_sum += row["Item_Price"]
    else:
        continue

print("Avg Price of food:",round(f_sum/f_counter, 2))
print("Avg Price of drink:",round(d_sum/d_counter, 2))

Avg Price of food: 4.66
Avg Price of drink: 8.45

Ans6. Therefore the coffee shop makes more by selling drinks than by selling food

### Q7 What are the top 5 most popular items for each day of the week?

In [24]:
df_8=df.pivot_table(values='Item_Price', index = ['Weekday','Item'], aggfunc= 'count')
popular_items = df_8.sort_values(by='Item_Price', ascending=False)
popular_items.reset_index()
popular_items

                                 Item_Price
Weekday   Item
Saturday  Coffee                       1103
Friday    Coffee                        854
Sunday    Coffee                        825
Saturday  Bread                         760
Tuesday   Coffee                        710
...                                     ...
Saturday  Bowl Nic Pitt                   1
          Cherry me Dried fruit           1
Tuesday   Bread Pudding                   1
          Bowl Nic Pitt                   1
Wednesday Victorian Sponge                1

[462 rows x 1 columns]

In [25]:
popular_items.head(10) #Popular Items

                  Item_Price
Weekday   Item
Saturday  Coffee        1103
Friday    Coffee         854
Sunday    Coffee         825
Saturday  Bread          760
Tuesday   Coffee         710
Monday    Coffee         681
Thursday  Coffee         670
Wednesday Coffee         628
Friday    Bread          527
Sunday    Bread          473

### Q8 What are the least popular items

In [26]:
popular_items.tail(20)

                                      Item_Price
Weekday   Item
Monday    Drinking chocolate spoons            1
          Dulce de Leche                       1
          Extra Salami or Feta                 1
Tuesday   Nomad bag                            1
          Kids biscuit                         1
Monday    Mighty Protein                       1
Tuesday   Honey                                1
Saturday  Christmas common                     1
Tuesday   Half slice Monster                   1
          Granola                              1
          Gingerbread syrup                    1
          Gift voucher                         1
          Ella's Kitchen Pouches               1
          Drinking chocolate spoons            1
          Chocolates                           1
Saturday  Bowl Nic Pitt                        1
          Cherry me Dried fruit                1
Tuesday   Bread Pudding                        1
          Bowl Nic Pitt                        1
Wednesday Victorian Sponge                     1

Coffee and bread seem most common on all the days whereas in the least common items they are all different

In [27]:
df_8 = df.pivot_table(values='Item_Price', index = ['Weekday','Item'], aggfunc= 'count')
df_8.head(10)

                                  Item_Price
Weekday Item
Friday  Afternoon with the baker           7
        Alfajores                         59
        Art Tray                           4
        Baguette                          21
        Bakewell                           3
        Bread                            527
        Brioche and salami                 1
        Brownie                           78
        Cake                             120
        Chicken Stew                      21

### Q9 How many drinks are there per transaction?

In [28]:
d_counter = 0

for i, row in df.iterrows():
    if row["Item"] in three_groups_dict["drinks"]:
        d_counter += 1
    else:
        continue

print(d_counter)

9424

In [29]:
bakery_2 = df.drop_duplicates(['Year', 'Month', "Day", "Weekday", "Hour", "Min", "Sec", "Transaction"]).reset_index(drop = True)
bakery_2.head()

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price,Transaction_diff
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01,1.0
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,1.0
2,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58,1.0
3,2016,10,30,Sunday,morning,10,8,41,4,Muffin,3.01,1.0
4,2016,10,30,Sunday,morning,10,13,3,5,Coffee,9.07,1.0

In [30]:
print(len(bakery_2))

9531

In [31]:
print("Number of drinks per transaction: "+str(round(d_counter/len(bakery_2), 0)))

Number of drinks per transaction: 1.0